<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-view>
  <ion-content class="padding">
    <div class="row responsive-sm">

      <div class="col col-50 col-center col-offset-25 padding-horizontal">
        <label class="item item-input item-floating-label">
    <span class="input-label">text to send...</span>
    <input type="text" placeholder="things to send...">
  </label>
        <div class="row responsive-sm">
          <!-- <label class="toggle toggle-calm">
   <input type="checkbox">
   <div class="track">
     <div class="handle"></div>
   </div>
</label> -->
          <div class="col col-33 col-center col-offset-33">
            <button class="button button-block button-calm">submit it bruh ummm</button>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
